{% extends "base.html" %}

{% block announce %}
<enter>
NEW: <a href="{{ 'en/docs/australia/home' | url }}""><strong>Australia</strong></a> is now part of the Open Energy Tracker!
</center>
{% endblock %}