/* Site settings */

body, html {
    height: 100%;
    margin: 0;
  }  

/* Background settings */

.bg-img {
    background-image: url(assets/pictures/home_background2_small.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 380px;
    -webkit-animation: fadein 1s;  /* Safari, Chrome and Opera > 12.1 */
     -moz-animation:   fadein 1s;  /* Firefox < 16 */
      -ms-animation:   fadein 1s;  /* Internet Explorer */
       -o-animation:   fadein 1s;  /* Opera < 12.1 */
          animation:   fadein 1s;
  }

  /* fade in */

  @keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
  }

  /* Firefox < 16 */
  @-moz-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Internet Explorer */
  @-ms-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

  /* Opera < 12.1 */
  @-o-keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }

/*
  .md-container {
    background-image: url(assets/pictures/home_background2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    min-height: 380px;
  }
*/

/* Header */ 
.md-header {
    background-color: #000000de;
}
.md-main {
    flex-grow: 0
}

/* Remove padding in the footer */
.md-main__inner {
    display: flex;
    height: 0%;
    margin-top: 0;
}

.md-content__inner {
    margin: 0;
    padding-top: 0;
}

.md-content__inner::before {
    height: 0;
}
/* Container settings */
.tx-container {
    padding-top: .0rem;
    background: linear-gradient(to bottom, var(--md-primary-fg-color),
    hsla(160deg,47%,55%,1) 99%,#fff 99%)
}
  
.tx-hero {
    margin: 32px 2.8rem;
    color: var(--md-primary-bg-color);
    justify-content: center;
}

.tx-hero h1 {
    margin-bottom: 1rem;
    color: currentColor;
    font-weight: 700
}

.tx-hero__content {
    padding-bottom: 0rem;
    margin: 0 auto;
}

.tx-hero__image{
    width:17rem;
    height:17rem;
    order:1;
    padding-right: 2.5rem;
}

/* Button design */

.tx-hero .md-button {
    margin-top: .5rem;
    margin-right: .5rem;
    color: var(--md-primary-bg-color)
}

.tx-hero .md-button--primary {
    background-color: var(--md-primary-bg-color);
    color: hsla(280deg, 37%, 48%, 1);
    border-color: var(--md-primary-bg-color)
}

.tx-hero .md-button:focus, .tx-hero .md-button:hover {
    background-color: var(--md-accent-fg-color);
    color: var(--md-default-bg-color);
    border-color: var(--md-accent-fg-color)
}

.feature-item h2 svg {
    height: 30px;
    float: left;
    margin-right: 10px;
    transform: translateY(10%);
}

.top-hr {
    margin-top: 42px;
}

.feature-item {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0 15px;
    word-break: break-word
}

.feature-item h2 {
    color: #333;
    font-weight: 300;
    font-size: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: inherit;
}

.feature-item p {
    font-size: 16px;
    line-height: 1.8em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: #111;
    margin: 0 0 10px;
    display: block;
}

.md-sidebar {
    display: none;
    padding: 0;
    }

.md-sidebar--primary {
        display: none
    }

.md-sidebar--secondary {
        display: none
    }


/*Small screen */

@media screen and (max-width:30em) {
    .tx-hero h1 {
        font-size: 1.4rem
    }
}

/*Large screen */

@media screen and (min-width:60em) {

    .tx-hero {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tx-hero__content {
        max-width: 40rem;
        margin-top: 4rem;
        margin-bottom: auto;
        margin-left: 4rem;
        margin-right: 4rem;
        align-items: center;
    }
}

@media screen and (min-width:76.25em) {

    .top-hr {
        width: 100%;
        display: flex;
        max-width: 61rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 .2rem;
    }
    
    .bottom-hr {
        margin-top: 10px;
        width: 100%;
        display: flex;
        max-width: 61rem;
        margin-right: auto;
        margin-left: auto;
        padding: 0 .2rem;
    }
    
    .feature-item {
        flex: 1;
        min-width: 0;
    }

    .feature-item:hover {
        background-color: #526cfe47;
        border-radius: 3px;
    }
}

.hr {
    border-bottom: 1px solid #eee;
    width: 100%;
    margin: 20px 0;
}

.text-center {
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 15px;
    font-family: 'Lato', sans-serif;
    font-size: 23px;
    font-weight: 300;
    padding-bottom: 10px;
}

.logos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin: 0 auto;
}

.logos img {
    flex: 1 1 auto;
    padding: 25px;
    max-height: 130px;
    vertical-align: middle;
}
  
.hr-logos {
    margin-top: 0;
    margin-bottom: 30px;
}

.bottomright {
    position: absolute;
    bottom: 20px;
    right: 16px;
    color: #dbdbdb;
    background: rgb(66, 66, 66);
    font-size: 8px;
    border-radius: 10px;
}

/* Footer */
/*
.md-footer-meta__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 1.0rem;
}
 
.md-footer-social {
    padding-top: 0px;
} 
*/