{% extends "main.html" %}

<!-- ADD STYLE -->

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="overrides/home.css">
{% endblock %}

<!-- HEADER -->

{% block header %}
    {{ super() }}
{% endblock %}

<!-- ADD CONTENT under BLOCK TABS -->

{% block tabs %}

<!-- CONTENT --> 

<div class="bg-img">
    <img src="assets/pictures/home_background2_small.jpg" style="display: none;"/>
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <div class="tx-hero__content">
                <h1>Open Energy Tracker</h1>
                <p>The <b>Open Energy Tracker</b> is an open data platform for monitoring and visualizing energy policy targets.</p>                    
                <p>At the moment, we track the following countries:</p>
                <a href="{{ 'en/docs/germany' | url }}" title="Germany" class="md-button md-button--primary">Germany</a>
                <a href="{{ 'en/docs/france/home' | url }}" title="France" class="md-button md-button--primary">France</a>
                <a href="{{ 'en/docs/australia/home' | url }}" title="Australia" class="md-button md-button--primary">Australia</a>
                <p style="margin-top: 2rem;">More information about the Open Energy Tracker:</p>
                <a href="{{ 'en/docs/about/project' | url }}" title="About" class="md-button">About </a>
                </p>
                </div>
            </div>
        </div>
    <!--<div class = "bottomright"><a href="https://unsplash.com/de/fotos/gUKv_yrQ_tk">Photo by ZHANG FENGSHENG</a> </div>-->
</div>

{% endblock %}


<!--  BODY  (HIDE)-->

{% block content %}
{% endblock %}

<!-- FOOTER -->

{% block footer %}
{{ super() }}
{% endblock %}
