{% extends "main.html" %}

<!-- ADD STYLE -->

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="overrides/home.css">
{% endblock %}

<!-- HEADER -->

{% block header %}
    {{ super() }}
{% endblock %}

<!-- ADD CONTENT under BLOCK TABS -->

{% block tabs %}

<!-- CONTENT --> 

<div class="bg-img">
    <img src="assets/pictures/home_background2_small.jpg" style="display: none;"/>
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <div class="tx-hero__content">
                <h1>Open Energy Tracker</h1>
                <p>Le <b>Open Energy Tracker</b> est une plateforme de données ouvertes pour le suivi et la visualisation des objectifs de la politique énergétique.</p>                    
                <p>Pour le moment, nous suivons ces pays :</p>
                <a href="{{ 'fr/docs/germany' | url }}" title="Allemagne" class="md-button md-button--primary">Allemagne</a>
                <a href="{{ 'fr/docs/france/home' | url }}" title="France" class="md-button md-button--primary">France</a>
                <a href="{{ 'en/docs/australia/home' | url }}" title="Australie" class="md-button md-button--primary">Australie</a>
                <p style="margin-top: 2rem;">Plus d'informations sur l'Open Energy Tracker:</p>
                <a href="{{ 'fr/docs/about/project' | url }}" title="À propos" class="md-button">About</a>
                </p>
                </div>
            </div>
        </div>
    <!--<div class = "bottomright"><a href="https://unsplash.com/de/fotos/gUKv_yrQ_tk">Photo by ZHANG FENGSHENG</a> </div>-->
</div>

{% endblock %}


<!--  BODY  (HIDE)-->

{% block content %}
{% endblock %}

<!-- FOOTER -->

{% block footer %}
{{ super() }}
{% endblock %}
