{% extends "main.html" %}

<!-- ADD STYLE -->

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="overrides/home.css">
{% endblock %}

<!-- HEADER -->

{% block header %}
    {{ super() }}
{% endblock %}

<!-- ADD CONTENT under BLOCK TABS -->

{% block tabs %}

<!-- CONTENT --> 

<div class="bg-img">
    <img src="assets/pictures/home_background2_small.jpg" style="display: none;"/>
    <div class="md-grid md-typeset">
        <div class="tx-hero">
            <div class="tx-hero__content">
                <h1>Open Energy Tracker</h1>
                <p>Der <b>Open Energy Tracker</b> ist eine offene Datenplattform, die energiepolitische Ziele und ihre Erreichung visualisiert.</p>                    
                <p>Zurzeit werden die folgenden Länder betrachtet:</p>
                <a href="{{ 'docs/germany' | url }}" title="Deutschland" class="md-button md-button--primary">Deutschland</a>
                <a href="{{ 'docs/france/home' | url }}" title="Frankreich" class="md-button md-button--primary">Frankreich</a>
                <a href="{{ 'en/docs/australia/home' | url }}" title="Australien" class="md-button md-button--primary">Australien</a>
                <p style="margin-top: 2rem;">Mehr Information über den Open Energy Tracker:</p>
                <a href="{{ 'docs/about/project' | url }}" title="Über" class="md-button">Über</a>
                </p>
                </div>
            </div>
        </div>
    <!--<div class = "bottomright"><a href="https://unsplash.com/de/fotos/gUKv_yrQ_tk">Photo by ZHANG FENGSHENG</a> </div>-->
</div>

{% endblock %}


<!--  BODY  (HIDE)-->

{% block content %}
{% endblock %}

<!-- FOOTER -->

{% block footer %}
{{ super() }}
{% endblock %}
